affine==2.2.1
amqp==2.3.2
area==1.1.1
attrs==18.2.0
backcall==0.1.0
billiard==3.5.0.4
bleach==3.1.4
bokeh==1.1.0
boto3==1.9.45
botocore==1.12.45
Bottleneck==1.2.1
branca==0.3.1
cachetools==3.0.0
Cartopy==0.17.0
celery==4.2.1
certifi==2018.10.15
cftime==1.0.2.1
chardet==3.0.4
Click==7.0
click-plugins==1.0.4
cligj==0.5.0
cloudpickle==0.6.1
cycler==0.10.0
Cython==0.29
dask==0.20.1
datacube==1.6.1
decorator==4.3.0
defusedxml==0.5.0
descartes==1.1.0
distributed==1.27.1
Django==1.11.13
django-bootstrap3==11.0.0
docutils==0.14
entrypoints==0.2.3
fastkml==0.11
Fiona==1.8.0
folium==0.6.0
GDAL==2.2.3
geopandas==0.5.0
hdmedians==0.13
HeapDict==1.0.0
idna==2.7
imageio==2.4.1
ipykernel==5.1.0
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.1
Jinja2==2.10
jmespath==0.9.3
jsonschema==3.0.0a3
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.0.1
kombu==4.2.1
lcmap-pyccd==2017.6.8
MarkupSafe==1.1.0
matplotlib==3.0.2
mistune==0.8.4
mpmath==1.1.0
msgpack==0.6.1
munch==2.3.2
nbconvert==5.4.0
nbformat==4.4.0
netCDF4==1.4.2
networkx==2.2
notebook==5.7.0
numpy==1.15.4
opencv-python==4.1.0.25
packaging==19.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
prometheus-client==0.4.2
prompt-toolkit==1.0.15
psutil==5.6.2
psycopg2==2.7.6.1
ptyprocess==0.6.0
pygeoif==0.7
Pygments==2.2.0
pyparsing==2.3.0
pyPEG2==2.15.2
pyproj==2.1.3
pyrsistent==0.14.5
pyshp==2.1.0
python-dateutil==2.7.5
pytz==2018.7
PyWavelets==1.0.1
PyYAML==5.1
pyzmq==17.1.2
qtconsole==4.4.3
rasterio==1.0.2
rasterstats==0.13.0
redis==2.10.6
requests==2.20.1
ruamel.yaml==0.15.77
s3transfer==0.1.13
scikit-image==0.14.1
scikit-learn==0.20.0
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
Shapely==1.6.4.post2
simplegeneric==0.8.1
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
snuggs==1.4.2
sortedcontainers==2.1.0
SQLAlchemy==1.2.14
stringcase==1.2.0
sympy==1.4
tblib==1.3.2
terminado==0.8.1
testpath==0.4.2
toolz==0.9.0
tornado==5.1.1
tqdm==4.38.0
traitlets==4.3.2
urllib3==1.24.1
vine==1.1.4
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
xarray==0.12.1
zict==0.1.4