boto3==1.9.117
celery==4.4.6
cligj==0.5.0
cloudpickle==1.5.0
dask==2.21.0
datacube==1.7
Django==1.11.27
django-bootstrap3==11.1.0
# TODO: Can we use gdal 2.4.2 here?
# (would also need to change version in apt)
GDAL==2.4.0
hdmedians==0.13
imageio==2.9.0
lcmap-pyccd==2017.6.8
matplotlib==3.3.0
netCDF4==1.5.4
psycopg2-binary==2.8.5
rasterio==1.1.5
redis==3.5.3
scikit-image==0.17.2
scikit-learn==0.23.1
scipy==1.5.2
seaborn==0.10.1
Shapely==1.7.0
SQLAlchemy==1.3.18
stringcase==1.2.0
xarray==0.16.0